In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
df: DataFrame = pd.read_csv('../../data/raw/uber.csv')
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [3]:
df = df.replace(0, np.nan).dropna()
df = df.drop(['key', 'Unnamed: 0'], axis=1, errors='ignore')
df = df.drop_duplicates()
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'],
                                       format='%Y-%m-%d %H:%M:%S %Z')

In [4]:
df.dtypes

fare_amount                      float64
pickup_datetime      datetime64[ns, UTC]
pickup_longitude                 float64
pickup_latitude                  float64
dropoff_longitude                float64
dropoff_latitude                 float64
passenger_count                  float64
dtype: object

In [5]:
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1.0
1,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1.0
2,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1.0
3,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3.0
4,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5.0

In [6]:
from datetime import datetime
import pytz
pst = pytz.timezone("US/Eastern")
pst.localize(datetime(2021, 3, 14, 3)).dst()

datetime.timedelta(seconds=3600)

In [7]:
df['pickup_datetime'] = df['pickup_datetime'].dt.tz_convert('US/Eastern')
df

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,7.5,2015-05-07 15:52:06-04:00,-73.999817,40.738354,-73.999512,40.723217,1.0
1,7.7,2009-07-17 16:04:56-04:00,-73.994355,40.728225,-73.994710,40.750325,1.0
2,12.9,2009-08-24 17:45:00-04:00,-74.005043,40.740770,-73.962565,40.772647,1.0
3,5.3,2009-06-26 04:22:21-04:00,-73.976124,40.790844,-73.965316,40.803349,3.0
4,16.0,2014-08-28 13:47:00-04:00,-73.925023,40.744085,-73.973082,40.761247,5.0
...,...,...,...,...,...,...,...
199995,3.0,2012-10-28 06:49:00-04:00,-73.987042,40.739367,-73.986525,40.740297,1.0
199996,7.5,2014-03-13 21:09:00-04:00,-73.984722,40.736837,-74.006672,40.739620,1.0
199997,30.9,2009-06-28 20:42:00-04:00,-73.986017,40.756487,-73.858957,40.692588,2.0
199998,14.5,2015-05-20 10:56:25-04:00,-73.997124,40.725452,-73.983215,40.695415,1.0
199999,14.1,2010-05-15 00:08:00-04:00,-73.984395,40.720077,-73.985508,40.768793,1.0

In [8]:
df.loc[0]['pickup_datetime'].hour

15